@import url('https://fonts.googleapis.com/css2?family=font-name&family=optional-2nd-font-name&display=swap');
:root {
    --primary-calor: yellow;
    --secondary-color: orange;
    --accent1-color: #AFBE8F;
    --accent2-color: #DDE392;

    --heading-font: 'Arial Black';
    --paragraph-font: georgia;

    --nav-background-color: aqua;
    --nav-link-color: blue;
    --nav-hover-link-color: blue;
    --nav-hover-background-color: chocolate;
}

body {
    font-family: var(--paragraph-font);
    max-width: 960px;
    padding: 20px;
}

h1, h2, h3, h4 {
    font-family: var(--heading-font);
    color: var(--primary-color);
}

header {
    padding: 20px;
    background-color: var(--accnt1-color);
}

p {
    padding: 25px;
}

nav {
    background-color: var(--nav-background-color);
    font-size: 1.2rem;
    display: flex;
}

nav a {
    display: block;
    color: var(--link-color);
    text-decoration: none;
    padding: 1rem;
}

nav a:link, nav a:visited {
    color: var(--nav-link-color)
}

nav a:hover {
    color: var(--nav-hover-background-color);
    background-color: var(--nav-hover-background-color);
}